{% extends 'base.html' %}
{#{% load crispy_forms_tags %}#}
{#{% load crispy_forms_field %}#}




{% block content %}
    <h2 class="mt-4 mb-4 font-weight-bold text-primary">NMS Details</h2>
    <div class="container border bg-dark">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row mt-3">

                <div class="form-group text-white disabled col-md-6 ">
                    <label for="product_name"><strong>Branch Name</strong></label>
                    <input type="text" class="form-control text-center" value="{{ nms.branch.Name}}"
                           id="product_name"
                           name='product_name'
                           placeholder="Product Title" readonly>
                </div>
                <div class="form-group text-white col-md-3">
                    <label for="isp"><strong>ISP Name</strong></label>
                    <input type="text" class="form-control text-center" value="{{ nms.isp.name }}"
                           id="isp"
                           name='isp'
                           placeholder="isp" readonly></div>

                <div class="form-group text-white col-md-3">
                    <label for="data"><strong>Data Qty</strong></label>
                    <input type="text" class="form-control text-center" value="{{ nms.data }}" id="data"
                           name='data'
                           placeholder="Po No" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group text-white col-md-3">
                    <label for="speed"><strong>Speed Mbps</strong></label>
                    <input type="text" value="{{ nms.speed }}" class="form-control text-center" id="speed" name="speed"
                           placeholder="speed" readonly>
                </div>

                <div class="form-group text-white col-md-3">
                    <label for="cost"><strong>Cost</strong></label>
                    <input type="text" class="form-control text-center" id="cost" name='cost' value="₹ {{ nms.cost }}"
                           placeholder="cost" readonly>
                </div>
                <div class="form-group text-white col-md-3">
                    <label for="last_recharge"><strong>Last Recharge</strong></label>
                    <input type="text" class="form-control text-center" value="{{ nms.last_recharge }}" id="last_recharge"
                           name='last_recharge'
                           placeholder="last_recharge" readonly>
                </div>
{#                <div class="col-md-3 text-white">#}
{#                    <label for="notes"><strong>Notes</strong></label>#}
{#                    <input type="text" class="form-control text-center" id="notes" placeholder="Notes" name="notes"#}
{#                           value="{{ nms.}" readonly>#}
{#                </div>#}
            </div>
        </form>
    </div>
{% endblock %}
